{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center  min-vh-100">
    <div class="row border shadow bg-white rounded px-5 py-3">
        <div class="col-12 text-center">
            
            <img src="{% static 'images/logo2.jpeg' %}" width="150" height="100" alt="Your Image" class="img-fluid mb-4" style="max-width: 200px;">
            <h2 class="text-center">تسجيل الدخول</h2>
            <form  action="{% url 'user:login_view' %}" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">اسم المستخدم</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">كلمة المرور</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-success w-100">إرسال</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
