{% extends "main/base.html" %}


{% load static %}


{% block content %}


<div class="container my-4">
<h4 class="text-right">طلباتي</h4>
<p class="text-right">عرض جميع طلباتي ومتابعة حالة الطلب</p>

<div class="mb-3 text-right">
    <label>ابحث:</label>
    <input type="search" class="form-control form-control-sm d-inline-block" style="width: auto;" placeholder="بحث...">
</div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th>م</th>
                    <th>النوع</th>
                    <th>الحالة</th>
                    <th>عرض</th>
                </tr>
            </thead>
            <tbody>
                {{my_order.count}}
                {% for order in my_order %}
                
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.problem_description}}</td>

                    {% if order.status == "تحت الإجراء" %}
                    <td><span class="badge badge-status badge-in-progress">{{order.status}}</span></td>
                    

                    {% elif order.status == "مفتوح" %}
                    <td><span class="badge badge-status badge-open">{{order.status}}</span></td>
                    

                    {% elif order.status == "منتهي" %}
                    <td><span class="badge badge-status badge-closed">{{order.status}}</span></td>
                    {% endif %}

                    
                    
                    <td><a href="{% url 'itsupport:request_detail_view' order.id %}" class="btn btn-success btn-sm">التفاصيل</a></td>
                </tr>
<!--                 
                <tr >
                    <td>{{order.id}}</td>
                    <td>{{order.problem_description}}</td>
                    
                    <td><span class="badge badge-status badge-in-progress">{{order.status}}</span></td>
                    
                    <td><a href="{% url 'itsupport:request_detail_view' order.id %}" class="btn btn-success btn-sm">التفاصيل</a></td>
                </tr>
                <tr >
                    <td>{{order.id}}</td>
                    <td>{{order.device_type}}</td>
                    
                    <td><span class="badge badge-status badge-open">{{order.status}}</span></td>
                    
                    <td><a href="{% url 'itsupport:request_detail_view' order.id %}" class="btn btn-success btn-sm">التفاصيل</a></td>
                </tr> -->
                
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>






   
{% endblock %}