{% extends "main/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">طلبات الدعم الفني</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">اسم المستخدم</th>
                <th scope="col">نوع الجهاز</th>
                <th scope="col">وصف المشكلة</th>
                <th scope="col">معرف الجهاز</th>
                <th scope="col">تاريخ إنشاء الطلب</th>
                <th scope="col">تفاصيل</th>
                <th scope="col">الحالة</th>
            </tr>
        </thead>
        <tbody>
            {% for user_request in users_requests %}
            <tr>
                
                <td>{{user_request.user.first_name}}</td>
                <td>{{ user_request.device_type }}</td>
                <td>{{user_request.problem_description}}</td>
                <td>{{user_request.device_id}}</td>
                <td>{{ user_request.request_date }}</td>
                <td><button class="btn btn-success btn-sm" aria-label="عرض تفاصيل المشكلة لمحمد علي">عرض التفاصيل</button></td>
                <td>{{ user_request.status }}</td>
            
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
{% endblock %}
