{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <!-- Maintenance Button -->
        <div class="col-6">
            <button type="button" class="btn shadow bg-light h-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="p-3">
                    <img src="{% static 'images/maint2.png' %}" class="img-fluid mb-4 border" width="150" height="100" alt="الصيانة">
                </div>
                الصيانة
            </button>
        </div>
        <!-- Printer Ink Button -->
        <div class="col-6">
            <button type="button" class="btn shadow bg-light h-100" data-bs-toggle="modal" data-bs-target="#printerModal">
                <div class="p-3">
                    <img src="{% static 'images/maint3.png' %}" class="img-fluid mb-4 border" width="150" height="100" alt="أحبار">
                </div>
                أحبار
            </button>
        </div>
    </div>

    <!-- Modal: Maintenance Report -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">طلبات الدعم الفني</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="mb-4 text-center">طلبات الدعم الفني</h2>
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th scope="col">اسم المستخدم</th>
                                <th scope="col">نوع الجهاز</th>
                                <th scope="col">وصف المشكلة</th>
                                <th scope="col">معرف الجهاز</th>
                                <th scope="col">تاريخ إنشاء الطلب</th>
                                <th scope="col">تفاصيل</th>
                                <th scope="col">الحالة</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_request in users_requests %}
                            <tr>
                                <td>{{user_request.user.first_name}} {{user_request.user.last_name}}</td>
                                <td>{{ user_request.device_type }}</td>
                                <td>{{user_request.problem_description}}</td>
                                <td>{{user_request.device_id}}</td>
                                <td>{{ user_request.request_date }}</td>
                                <td>
                                    <a href="{% url 'itsupport:request_detail_view' user_request.id %}" class="btn btn-success btn-sm">عرض التفاصيل</a>
                                </td>
                                <td>{{ user_request.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                    <button type="submit" class="btn btn-primary">إرسال</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Printer Ink Report -->
    <div class="modal fade" id="printerModal" tabindex="-1" aria-labelledby="printerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="printerModalLabel">طلبات أحبار الطابعة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add the content for printer ink requests here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                    <button type="submit" class="btn btn-primary">إرسال</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

