{% extends "main/base.html" %}

{% load static %}

{% block content %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <img src="{% static 'images/main_logo.png' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center mt-3 ">
    <a href="{% url 'user:login_view' %}"  class=" d-flex justify-content-center  btn btn-outline-success mt-1 border border-0 shadow p-2  rounded w-25 ">التسجيل</a>
    </div>


{%endblock%}